/* Body style */
body {
    background-color: rgb(24, 23, 23);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.filda {
    text-decoration: none;
    color: orange;
}

.download {
    text-decoration-line: none;
    color: black;
    background-color: orange;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid black;
}

.download:hover {
    text-decoration: underline;
    text-underline-position: above 2px;
    text-underline-offset: 2px;
}


/*Navigace*/

.navbar {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

.navbar .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar .nav-link {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 15px;
    position: relative;
}

.navbar .nav-link:hover {
    color: orange;
    transform: scale(1.01);
}

.logo {
    font-size: 20px;
    color: orange;
    font-weight: bold;
    margin-bottom: 10px;
}

/*Main content*/
.main-content-home {
    color: white;
    margin: 0 auto;
    max-width: 90%;
    padding: 80px 20px 20px;
    margin-top: 60px;
}
 
/*Hero sekce*/

.hero {
    margin-top: 300px;
}

.hero h1 {
    font-size: 32px;
    color: orange;
    margin-bottom: 15px;
    text-align: center;
}

.hero p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

/*O mně sekce*/

.about {
    margin-top: 400px;
    padding-top: 50px;
    margin-bottom: 150px;
}

.about h2, .skills h2, .projekty h2, .kontakty h2{
    font-size: 28px;
    color: orange;
    text-align: center;
}

.about p {
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

/*Dovednosti*/

.skills-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 800px;
}

.skill {
    background-color: rgb(32, 31, 31);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.skill:hover {
    transform: scale(1.01);
}

.skill h3 {
    font-size: 20px;
    color: orange;
    margin-bottom: 10px;
}

.skill p {
    font-size: 14px;
    color: white;
}

/*Projekty*/

.projekt-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 800px;
}

.projekt {
    background-color: rgb(32, 31, 31);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    padding-right: 60px;
    padding-left: 60px;
}

.projekt:hover {
    transform: scale(1.01);
    border: 2px solid orange;
}

.projekt h3 {
    font-size: 20px;
    color: orange;
    margin-bottom: 10px;
}

.projekt p {
    font-size: 14px;
    color: white;
}

/*Kontakty*/

.kontakty h2 {
    display: flex;
    justify-content: center;
}

.kontakt-grid {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-bottom: 600px;
}

.kontakt {
    background-color: rgb(32, 31, 31);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

.kontakt:hover {
    transform: scale(1.01);
    border: 2px solid orange;
}

.kontakt h3 {
    font-size: 30px;
    color: orange;
    margin-bottom: 10px;
}

.kontakt p {
    font-size: 20px;
    color: white;
}

.kontakt img {
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

/* Responsivita */
@media (max-width: 768px) {
    .navbar .nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        font-size: 24px;
        margin-bottom: 0;
    }

    .nav-link {
        font-size: 18px;
        padding: 10px 20px;
    }

    .contact {
        margin-top: 0;
    }

    .main-content-home {
        max-width: 750px;
        margin-top: 80px;
        padding: 40px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }

    .about p {
        font-size: 18px;
        max-width: 600px;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .skill h3 {
        font-size: 22px;
    }

    .projekt-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .projekt h3 {
        font-size: 22px;
    }

    .kontakt-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .kontakt {
        width: 350px;
    }

    .kontakt h3 {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .main-content-home {
        max-width: 1200px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .about h2, .skills h2 {
        font-size: 36px;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .about p, .skill p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .navbar .nav {
        flex-direction: column;
    }
}
